.large-right {

  z-index: 3;
  width: 62%;
  /* background: url('') no-repeat center bottom fixed; */
  background-color: #241337;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
  background-color: #241337;
  background: url('https://cdn-images-1.medium.com/max/2000/1*5-iGYevxsC17S-8nxrDSyQ.jpeg') no-repeat right center fixed;
  background-size: cover;

}


.login-form {
  /* position: relative;
    top: 50px; */
  width: 38.1%;
  background-color: white;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myform {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.myinput {
  max-width: 100%;
  padding: 10px;
  margin: 10px;
  border: 1px solid silver;
  background-color: white;
  color: black;
}

.mybutton {
  display: block;
  width: 220px;
  margin: 5px;
  height: 30px;
  background-color: white;
  color: #323232;
  border: 1px solid #323232;
  border-radius: 5px;
  cursor: pointer;
}

.mybutton:hover {
  color: white;
  background-color: #323232;
}

.secondary-button {
  display: block;
  max-width: 100%;
  height: 30px;
  background-color: white;
  color: darkgrey;

  border-radius: 5px;
  cursor: pointer;
}

.secondary-button:hover {
  color: #323232;
}

.store-buttons {
  max-width: 150px;
  display: block;
  margin: 10px auto;
}

.heading {
  font-family: 'Baloo Bhai', sans-serif;
  font-size: 60px;
  display: block;
  margin: 10px auto;
  color: #323232;
  line-height: 1;

}

.tagline {
  width: 100%;
  height: 92vh;
  display: block;
  font-family: 'Source Sans Pro:800', sans-serif;
  font-size: 60px;
  color: white;
  padding: 30px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5)
}

@media (max-width: 950px) {
  .large-right {
    display: none;
  }

  .login-form {
    margin: 0 auto;
  }
}

.bg {
  display: flex;

}

button {
  border: none;
}

p {
  width: 230px;
  font-family: sans-serif;
  margin: 0;
  margin-top: -20px;
  padding: 20px;
  text-align: center;
  line-height: 1.25;
  color: darkgrey;
}